<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  
  <body>

    <header>
            <nav class="navbar is-black" role="navigation" aria-label="main navigation"> <!-- recipiente principal-->
                <div class="navbar-brand"> <!-- Lado esquerdo, sempre visivel em todos dispositivos -->
                    <a class="navbar-item" href="/">
                    <img src="{{ url_for('static', filename='img/logo_lghm.png')}}" width="150" height="80">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"> <!--menu para dispositivos moveis-->
                        <span aria-hidden="true"></span> <!-- representam as linhas de mini menu -->
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                
                <div id="navbarBasicExample" class="navbar-menu"> <!--lado direito, visivel em PC's-->
                    <div class="navbar-start"> <!-- aparece ao lado de navbar, navbar-end aparece no lado oposto-->
                        <a class="navbar-item" href='/'>Home</a>
                        <a class="navbar-item" href='/tutorial'>Tutorial</a>
                        <a class="navbar-item" href='/about'>About</a>

                    </div>
                </div>
            </nav>
    </header>
    
    <section class="modal-content">
    
        {% block content %}{% endblock %}
    
    </section>
    
    <footer class="footer" id="foot">
            <div class="content has-text-centered">
              <p>
                Made with <strong>Bulma</strong> by <a href="http://lghm.ufpa.br/">LGHM</a> <br/>
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a> 
                and is available on <a href="github.com">Github</a>
              </p>
              &copy; Copyright 2019
            </div>
    </footer>
  
  </body>
</html>